<section class="padd-top-60">

    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center">

                <h3><span class="text-thin">Welcome back to puppy-play-date! We're gonna be best</span> FUR-ends.</h3>

            </div>

        </div>

        <br> <br> <br> <br>

        <div class="row words">

            <div class="col-xs-6" align="right">                

                <form action="/searchme" method="get">

                    <label for="email">Email: </label>

                    <input id="email" required="" type="text" name="email" value=""><br>

                    <label for="zipcode">Zip Code: </label>

                    <input id="zipcode" required="" type="text" name="zipcode" value=""><br>

                    <br>

                    <input class="blackbox" type="submit" value="Login">

                </form>

            </div>

            <div class="col-xs-6">

                <img src="../public/images/puppy2.jpg" height="300" width="250">

            </div>

        </div>

    </div>

    <div class="clearfix"></div>

</section>