<section class="padd-top-60">

    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center">

                <h3>"Yep<span class="text-thin">I got this!!!!" </span> </h3>

            </div>

        </div>

        <br> <br> <br> <br>

        <div class="single-blog-desc">

            <p>It's time to set up a play date, setup your date and let the fun begin.</p>

        </div>

        <br>

        <div class="row contact-form margin-t20">

            <div class="col-md-12">

                <form method="post">

                    <div class="col-md-8 comment">

                        <input type="text" required="" name="email" placeholder="Email">

                    </div>

                    <div class="col-md-4 comment">

                        <input type="text" required="" name="date" placeholder="Date (mm/dd/yyyy)">

                    </div>

                    <div class="clearfix"> </div>

                    <br>

                    <div class="col-md-8 comment">

                        <input type="text" required="" name="sub" placeholder="Subject">

                    </div>

                    <div class="col-md-4 comment">

                        <input type="text" required="" name="time" placeholder="Time (hh:mm)">

                    </div>

                    <div class="clearfix"> </div>

                    <div class="col-md-12 col-xs-12">

                        <textarea required="" name="message" placeholder="Message"></textarea>

                    </div>

                    <div class="clearfix"> </div>

                    <a href="/thanks">

                        <input class="blackbox" type="submit" value="Send">

                    </a>

                </form>

            </div>

        </div>

    </div>

    <div class="clearfix"></div>

</section>