<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand pt-md-0 pt-sm-3" href="../">
        <img src="/images/dog.png" width="22" height="22" class="d-inline-block align-mid mb-1" alt="">
        Puppy Play Date
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item py-1 pr-2">
        <a class="nav-link" href="../search">Find a Friend<span class="sr-only">(current)</span></a>
        {{!-- <a class="nav-link" href="#">Find a Friend<span class="sr-only">(current)</span></a> --}}
      </li>
      <li class="nav-item py-1 pr-2 active">
        <a class="nav-link" href="../scheduler">Manage Dates<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item py-1 pr-2">
        <a class="nav-link" href="../profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../api/signout"><button type="button" class="btn btn-outline-light px-2 py-1 my-2 my-sm-0">Logout</button></a>
      </li>
    </ul>
  </div>
</nav>


<div class="container" id="bodycontent">
    <div class="row" id="headline">
        <div class="col-md-12 text-center">
            <h3>"Yep! <span class="text-thin">I got this!" </span> </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Pending Play Dates</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Upcoming Play Dates</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Past Play Dates</h4>
        </div>
    </div>
</div>