<section class="padd-top-60">

    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center">

                <h3>Pull out <span class="text-thin"> your perfect match!</span></h3>

            </div>

        </div>

        <br> <br> <br> <br>

        <div class="row words">

            <div class="col-xs-6" align="right">                

                <form action="/result" method="get">

                    <label for="zipcode">Zip Code*: </label>

                    <input id="zipcode" type="text" name="zipcode" value=""><br>

                    <label for="dog_personality">Dog Personality: </label>

                    <input id="dog_personality" type="text" name="dog_personality" value=""><br>

                    <label for="dog_gender">Dog Gender: </label>

                    <input id="dog_gender" type="text" name="dog_gender" value=""><br>

                    <label for="dog_age">Dog Age: </label>

                    <input id="dog_age" type="text" name="dog_age" value=""><br>

                    <label for="dog_breed">Dog Breed: </label>

                    <input id="dog_breed" type="text" name="dog_breed" value=""><br>

                    <label for="dog_weight">Dog Weight: </label>

                    <input id="dog_weight" type="text" name="dog_weight" value=""><br>

                    <br>

                    <input class="blackbox" type="submit" value="Retrieve">

                </form>

            </div>

            <div class="col-xs-6">

                <img src="/images/puppy3.jpg" height="300" width="250">

            </div>

        </div>

    </div>

    <div class="clearfix"></div>

</section>