{{!-- {{#if email}} --}}
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" id="noCookie">
    <a class="navbar-brand pt-md-0 pt-sm-3" href="../">
        <img src="/images/dog.png" width="22" height="22" class="d-inline-block align-mid mb-1" alt="">
        Puppy Play Date
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item pr-2 py-1">
        <a class="nav-link" href="../search">Find a Friend</a>
        {{!-- <a class="nav-link" href="#">Find a Friend<span class="sr-only">(current)</span></a> --}}
      </li>
      <li class="nav-item pr-2 py-1">
        <a class="nav-link" href="../scheduler">Manage Dates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../login"><button type="button" class="btn btn-outline-light px-2 py-1 my-2 my-sm-0">Log In</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../signup"><button type="button" class="btn btn-light px-2 py-1 my-2 my-sm-0">Sign Up</button></a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" id="cookie">
    <a class="navbar-brand pt-md-0 pt-sm-3" href="../">
        <img src="/images/dog.png" width="22" height="22" class="d-inline-block align-mid mb-1" alt="">
        Puppy Play Date
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item pr-2 py-1">
        <a class="nav-link" href="../search">Find a Friend</a>
        {{!-- <a class="nav-link" href="#">Find a Friend<span class="sr-only">(current)</span></a> --}}
      </li>
      <li class="nav-item pr-2 py-1">
        <a class="nav-link" href="../scheduler">Manage Dates</a>
      </li>
      <li class="nav-item pr-2 py-1">
        <a class="nav-link" href="../profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../login"><button type="button" class="btn btn-outline-light px-2 py-1 my-2 my-sm-0">Change User</button></a>
      </li>
    </ul>
  </div>
</nav>
{{!-- {{else}} --}}

{{!-- {{/if}} --}}

<div class="container" id="cardContent">
    <div class="card">
        <div class="card-header">
            <h4>Sign Up</h4>
        </div>
        <div class="card-body">
            <p>Or log in <a href="/login">here</a></p>   
            <br>         
            <form>
                <h5>About me</h5>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input id="email" required type="email" class="form-control" name="email" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input id="password" required type="password" class="form-control" name="password" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name: </label>
                        <input id="firstName" required type="text" class="form-control" name="firstName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name: </label>
                        <input id="lastName" required type="text" class="form-control" name="lastName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="zipCode">Zip Code: </label>
                        <input id="zipCode" required type="number" class="form-control" name="zipCode" placeholder="" min="10000" max="99999">
                    </div>
                    <br>
                <h5>About my friend</h5>
                    <div class="form-group">
                        <label for="puppyName">Dog Name: </label>
                        <input id="puppyName" required type="text" class="form-control" name="puppyName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="dogGender">Dog Gender: </label>
                        {{!-- <input id="dogGender" required type="text" class="form-control" name="dogGender" placeholder=""> --}}
                        <select class="form-control" id="dogGender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dogBreed">Dog Breed: </label>
                        <input id="dogBreed" required type="text" class="form-control" name="dogBreed" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="dogPers">Dog Personality: </label>
                        <input id="dogPers" required type="text" class="form-control" name="dogPers" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="dogAge">Dog Age: </label>
                        <input id="dogAge" required type="number" class="form-control" name="dogAge" placeholder="" max="40">
                    </div>
                    <div class="form-group">
                        <label for="dogWeight">Dog Weight: </label>
                        <input id="dogWeight" required type="number" class="form-control" name="dogWeight" placeholder="" max="400">
                    </div>
                    <div class="form-group">
                        <label for="dogImage">Dog Image (URL): </label>
                        <input id="dogImage" required type="text" class="form-control" name="dogImage" placeholder="">
                    </div>
                <button type="submit" class="btn btn-warning">Sign Up</button> {{!-- Can have a a BUTTON or INPUT, just make sure to have type="submit" --}}
            </form>
        </div>
    </div>
</div>

<script>
    $('form').on('submit', function(e){
    e.preventDefault();
    // const email = $("#email").val().trim;
    // const password = $("#password").val().trim;
    const email = $('input[type="email"]').val().trim();
    const password = $('input[type="password"]').val().trim();
    const firstName = $("#firstName").val().trim();
    const lastName = $("#lastName").val().trim();
    const zipCode = $("#zipCode").val().trim();
    const puppyName = $("#puppyName").val().trim();
    const puppyGender = $("#dogGender").val().trim();
    const puppyBreed = $("#dogBreed").val().trim();
    const puppyPersonality = $("#dogPers").val().trim();
    const puppyAge = $("#dogAge").val().trim();
    const puppyWeight = $("#dogWeight").val().trim();
    const imgUrl = $("#dogImage").val().trim();
    const user1 = {
        email,
        password,
        firstName,
        lastName,
        zipCode,
        puppyName,
        puppyGender,
        puppyBreed,
        puppyPersonality,
        puppyAge,
        puppyWeight,
        imgUrl
    }

    $.ajax({
        url: '/api/signup', 
        method: 'POST',
        data: user1
    })
    .then(function(data){
        window.location.href = '/search';
    })
    .catch(function(){
        window.location.href = '/signup';
    });

});
</script>
