<section class="padd-top-60">

    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center">

                <h3><span class="text-thin">Welcome to puppy-play-date! We can't wait to </span>Get the puppy math <span class="text-thin">with yours.</span></h3>

            </div>

        </div>

        <br> <br>

        <div class="row">

            <div class="col-xs-4" align="right">

                <form action="/upload_d" method="POST" enctype="multipart/form-data">

                    <label>Dog Image: </label>

                    <input type="file" name="img">

                    <input type="submit" value="Upload">

                </form><br>

            </div>

            <div class="col-xs-4" align="right">

                <form action="/create" method="post">

                    <label for="first_name">First Name: </label>

                    <input id="first_name" required="" type="text" align="right" name="first_name" value=""><br>

                    <label for="last_name">Last Name: </label>

                    <input id="last_name" required="" type="text" align="right" name="last_name" value=""><br>

                    <label for="email">Email: </label>

                    <input id="email" required="" type="text" name="email" value=""><br>

                    <label for="address">Address: </label>

                    <input id="address" required="" type="text" name="address" value=""><br>

                    <label for="zipcode">Zip Code: </label>

                    <input id="zipcode" required="" type="text" name="zipcode" value=""><br>

                    <label for="dog_name">Dog Name: </label>

                    <input id="dog_name" required="" type="text" name="dog_name" value=""><br>

                    <label for="dog_breed">Dog Breed: </label>

                    <input id="dog_breed" required="" type="text" name="dog_breed" value=""><br>

                    <label for="dog_gender">Dog Gender: </label>

                    <input id="dog_gender" required="" type="text" name="dog_gender" value=""><br>

                    <label for="dog_age">Dog Age: </label>

                    <input id="dog_age" required="" type="text" name="dog_age" value=""><br>

                    <label for="dog_personality">Dog Personality: </label>

                    <input id="dog_personality" type="text" name="dog_personality" value=""><br>


                    <label for="dog_weight">Dog Weight: </label>

                    <input id="dog_weight" type="text" name="dog_weight" value=""><br>

                    <br>

            </div>


            <div class="col-xs-4" align="left">

                <img src="../public/images/puppy1.jpg" height="300" width="250">

            </div>

            <div class="col-xs-8" align="right">


                <input class="blackbox" type="submit" value="Sign Up">

                </form>

            </div>


            <div class="clearfix"></div>

</section>