body {
    background-color: #F5F5F5;
}

.hide {
    display: none;
}

.show {
    display: default;
}

#bodycontent {
    padding-top: 80px;
    padding-bottom: 40px;
}

#cardContent {
    padding-top: 100px;
    padding-bottom: 40px;
    margin: auto;
    max-width: 450px;
}

#userMessage {
    color: red;
}
#caroMain {
    padding-top: 65px;
    padding-bottom: 4px;   
}
#carpic {
    height: 100%;
    /* max-width: 100%; */
    width: auto;
    /* width: auto; */
    object-fit: cover;
}

#carousel1 {
    height: 625px;   
}

h4, label {
    color: #f39331;
}

.carousel-caption {
    background-color: #343a40;
    color: white;
    opacity: 0.9;
    max-width: 700px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
    border-radius: 25px;
}

#headline {
    padding-bottom: 30px;
}

#profilePhoto {
    /* padding-top: 30px; */
    padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
    .navbar-brand{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 576px) {
    #carousel1 {
        height: 300px;   
    }
    .carousel-caption {
        font-size: 0.9em;
        margin: auto;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 2px;
        border-radius: 25px;
    }
}